SMART_ZEBRA_MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority
SMART_ZEBRA_MONGO_DB=smart_crossing_db
SMART_ZEBRA_MONGO_COLLECTION=violations
SMART_ZEBRA_OUTPUT_DIR=
